*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}
/* ------------ Narbar ------------ */
.navbar{
    font-size: 25rem;
}
.navbar__imagen img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 0.3rem solid #d7fa37;
}
@media screen and (min-width: 1280px){
    .nav-item{
        margin: 3rem;
    }
}
/* ------------ Index ------------ */
.index__contenido{
    text-align: center;
}
.index__titulo{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    border: #570D66 solid 4px;
    border-radius: 7px;
    margin: 2rem;
}
.carousel-item img{
    border-radius: 5%;
}
.index__subtitulo{
    font-size: 2rem;
    text-align: center;
    font-style: italic;
    margin-bottom: 2rem;
}
.recomendaciones__index--titulo{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.recomendaciones__index--subtitulo{
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    color: peru;
    text-align: center;
    margin-bottom: 2rem;
    animation-name: titilar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: font-size 2s;
}
.recomendaciones__index--subtitulo:hover{
    font-size: 6rem;
}
@keyframes titilar {
    0%{opacity: 0.5;}
    100%{opacity: 1;}
}
.recomendacion__iframe{
    width: 90%;
    height: 33rem;
    margin-bottom: 2rem;
}
@media screen and (min-width: 768px){
    .recomendacion__iframe{
        width: 65rem;
        height: 40rem;
    }
}
@media screen and (min-width: 1280px){
    .recomendacion__iframe{
        width: 75rem;
        height: 40rem;
    }
}
.recomendacion__parrafos{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.negrita{
    font-weight: bold;
    font-size: 1.5rem;
    color: #570D66;
}
/* ------------ Store ------------ */
.store__titulo{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    border: #570D66 solid 4px;
    border-radius: 7px;
    margin: 2rem;
}
.store__contenido{
    margin-bottom: 2rem;
}
.card-title{
    font-size: 2rem;
    font-weight: 700;
}
.card-text{
    font-size: 1.2rem;
}
.card-button{
    font-size: 1.2rem;
    background-color: #CF1FF2;
    border: 0;
}
.card-button:hover{
    background-color: #570D66;
}
.card-button:focus{
    background-color: #570D66;
}
.card-img-top{
    height: 17rem;
}
/* ------------ Ayuda ------------ */
.ayuda{
    margin-bottom: 2rem
}
.ayuda__titulo{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    border: #570D66 solid 4px;
    border-radius: 7px;
    margin: 2rem;
}
.ayuda__subtitulo{
    font-size: 3rem;
    text-decoration: underline;
}
.ayuda__explain{
    font-size: 2rem;
    border: whitesmoke outset 3.5px;
    border-radius: 7px;
    margin-left: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    transition: font-size 1s,background-color 1s;
}
.ayuda__explain:hover{
    font-size: 2.5rem;
    background-color: whitesmoke;
}
.ayuda__explain h3{
    text-decoration: double;
}
/* ------------ Quienes somos ------------ */
.quienessomos__titulo{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    border: #570D66 solid 4px;
    border-radius: 7px;
    margin: 2rem;
}
.quienessomos__descripcion{
    margin-top: 2rem;
}
.quienessomos__contenido{
    margin-bottom: 2rem;
    font-size: 3rem;
}
/* ------------ Contacto ------------ */
.contactenos__titulo{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    border: #570D66 solid 4px;
    border-radius: 7px;
    margin: 2rem;
}
.contacto{
    font-size: 5rem;
    text-align: center;
    width: 75%;
}
input:focus{
    width: 100%;
}
.input__name{
    width: 85%;
    margin: auto;
}
.input__email{
    width: 85%;
    margin: auto;
}
textarea{
    height: 35rem;
}
.botonesForm button{
    width: 20rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.botonesForm button:hover{
    background-color: whitesmoke;
    color: #000000;
}
/* ------------ Footer ------------ */
footer{
    background-color: #212529;
    color: #96989a;
    font-size: 2.5rem;
    height: 10rem;
}
footer img{
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
}